.link {
    color: rgb(56, 53, 31);
}

.logo {
    font-size: 27px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(230, 230, 230);
    font-weight: bold;
    text-align: center;
}

body {
    color: white;
    background-color: #fe9600;
    font-weight: bold;
}

.form-div {
    margin-top: 0%;
    border: 1px solid #e0e0e0;
}

#profileDisplay {
    display: block;
    height: 140px;
    width: 55%;
    margin: 0px auto;
    border-radius: 50%;
}

.img-placeholder {
    width: 55%;
    color: white;
    height: 100%;
    background: black;
    opacity: .7;
    height: 140px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.img-placeholder h4 {
    margin-top: 40%;
    color: white;
}

.img-div:hover .img-placeholder {
    display: block;
    cursor: pointer;
}

#btn {
    background-color: #030406eb;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

thead {
    text-align: center;
}

tbody {
    text-align: center;
}

h3,
h4 {
    text-align: center;
}